@import "./../../../Style/style.scss";
.button-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  @media (max-width: 575px) {
    flex-wrap: wrap;
  }
  .btn {
    outline: none;
    border: none;
    color: white;
    padding: 10px 15px;
    background: rgba(36, 33, 28, 0.56);
    line-height: 2em;
    margin: 8px 16px 8px 0;
  }
  .btn:hover {
    color: #64796f;
    background: transparent;
    transform: scale(1.1);
  }
}